.animated-section {
  transition: all 0.6s ease;
  opacity: 0;
  transform: translateY(50px);
}

.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.animate-out {
  opacity: 0;
  transform: translateY(50px);
}