.containerProduk {
  position: relative;
  width: 100%;
}

.containerProduk.sticky-padding {
  padding-top: 20px; /* padding saat sticky */
}

.containerProduk .section {
  position: sticky;
  top: 0;
  width: 100%;
}
.containerProduk .section img {
  box-shadow: 0 -10px 18px -20px #00a9e8;
}

.section img {
  transform-origin: center center;
  will-change: transform;
}